@import url('httpsfonts.googleapis.comcss2family=Robotowght@400;700&display=swap');

*, *::after, *::before {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
html {
  color-scheme: dark light;
}
body {
  line-height: 1.5;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  background-color: var(--clr-charcoal-gray);
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
}
ul {
    list-style: none;
}
:root {
  --dark-slate-gray: hsl(234, 29%, 20%);
  --clr-primary-tomato: hsl(4, 100%, 67%);
  --clr-charcoal-gray: hsl(235, 18%, 26%);
  --clr-gray: hsl(231, 7%, 60%);
}
picture {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 2rem;
}
picture img:nth-child(2) {
  display: none;
}
.container {
  background-color: white;
  color: var(--clr-charcoal-gray);
  height: 100%;
}
.textContainer {
  margin: 0 auto;
  width: clamp(320px, 100%, 450px);
  padding: 0 2rem 1rem;
}
h1 {
  color: var(--dark-slate-gray);
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.description {
  margin-bottom: 2rem;
  font-weight: 400;
}
.line {
  display: flex;
  align-items: start;
  margin: 0.5rem 0;
}
.line img {
  position: relative;
  top: 2px;
}
.line span {
  margin-left: 1rem;
  font-weight: 400;
}
form {
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
}
label {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
}
input {
  background-color: transparent;
  border: 1px solid var(--clr-gray);
  border-radius: 0.5rem;
  height: 60px;
  padding: 0 1.5rem;
  margin-bottom: 1rem;
  color: var(--clr-charcoal-gray);
  cursor: pointer;
  transition: 150ms ease-in-out;
}
input::placeholder {
  color: var(--clr-charcoal-gray);
}
#submit {
  cursor: pointer;
  background-color: var(--dark-slate-gray);
  border: 0;
  height: 60px;
  border-radius: .5rem;
  font-weight: 700;
  transition: 150ms ease-in;
}
#submit:focus, #submit:hover {
  background: linear-gradient(45deg, var(--clr-primary-tomato), orange);
  outline: none;
  box-shadow: 0px 10px 10px 0px var(--clr-primary-tomato);
}

 /* responsive  */
@media (min-width: 768px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container {
    display: flex;
    flex-direction: row-reverse;
    padding: 0 1.5rem;
    border-radius: 2rem;
    align-items: center;
    margin: 1rem;
  }
  picture {
    margin: 1rem 0;
  }
  h1, .description, .line, form{
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  picture img:nth-child(1) {
    display: none;
  }
  picture img:nth-child(2) {
    display: block;
  }
  .box {
    max-width: 450px;
    max-height: 500px;
  }
  .box, .container {
    transform: scale(0.8);
  }
} 
/* results.html */

#emailText {
  font-weight: 700;
}
.box a {
  text-decoration: none;
  color: white;
  background-color: var(--dark-slate-gray);
  padding: 1rem;
  border-radius: 1rem;
  width: 100%;
  text-align: center;
  transition: 150ms ease-in;
  justify-self: end;
  font-weight: 700;
}
.box a:focus, .box a:hover {
  background: linear-gradient(45deg, var(--clr-primary-tomato), orange);
  outline: none;
  box-shadow: 0px 10px 10px 0px var(--clr-primary-tomato);
}
.box {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  height: 100vh;
  justify-content: space-between;
}
.box img {
  align-self: flex-start;
}
.box h1 {
  margin-bottom: 0;
  font-size: 3rem;
}